
.navbar-nav.navbar-center 
{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
/* cambiar tipo de letra */
.navbar-nav.navbar-center {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
}

/* cambiar el color de fondo a la barra */
nav.navbar{
    background-color: #ffffff;
}
